$aquamarine: #98dbc6;
$turquoise: #5bc8ac;
$banana: #fcf6b1;
$black: #0d1321;
$white: #f1f7ee;
$red: #e3170a;

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: $black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-X: hidden;
}

.page {
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;

  padding: 10%;
}

.step-1 {
  background-image: url("../media/backgrounds/kiwi-green.jpg");
}

.step-2 {
  background-image: url("../media/backgrounds/kiwi-pink.jpg");
}

.card {
  width: 100%;
  height: 500px;

  position: relative;

  background-color: $white;
  border-radius: 4px;

  padding: 40px 20px 20px;

  .name {
    text-transform: capitalize;
    margin: 5px 0;
  }
}

.section {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-menu {
  position: absolute;
  top: 35px;
  left: -115px;

  margin: 0;
  padding: 0;

  li {
    width: 115px;
    height: 30px;
    text-transform: uppercase;

    list-style-type: none;
    border-radius: 4px 0 0 4px;

    background-color: $aquamarine;
    cursor: pointer;

    padding: 5px 10px;
    margin: 5px 0;
    transition: background-color 0.5s ease;

    &.active {
      width: 555px;
      position: absolute;
      top: -30px;
      left: 115px;
      background-color: $turquoise;
      border-radius: 0;
    }
  }
}

.checkbox-wrapper {
  display: block;
  position: relative;
  line-height: 14px;

  label {
    display: inline-block;
    max-width: 100%;
    font-weight: 400;
    padding-left: 28px;
    margin: 0;
    cursor: pointer;
  }

  input {
    width: 0;
    height: 0;

    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    margin: 0;

    & + span {
      cursor: pointer;
      user-select: none;
      text-transform: capitalize;

      &:before {
        content: " ";
        height: 14px;

        display: inline-block;
        position: absolute;
        left: 0;
        transition: background 0.2s ease-out;
      }
    }

    &:checked {
      & + span {
        &:before {
          transition: background 0.2s ease-in;
        }
      }
    }

    &[disabled] + span {
      cursor: not-allowed;
      &:before,
      &:after {
        opacity: .4;
      }
    }
  }
}

.checkbox-wrapper.slider {
  height: 30px;

  input {
    & + span {
      padding-left: 15px;

      &:empty {
        padding-left: 14px;
      }

      &:before {
        width: 28px;

        background: $aquamarine;
        border: 1px solid $aquamarine;

        border-radius: 14px;
      }

      &:after {
        content: " ";
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        left: 2px;
        top: 2px;
        background: $white;
        transition: transform 0.2s ease-in-out;
        text-align: center;
        background-clip: padding-box;
        border-radius: 10px;
      }
    }

    &:checked {
      & + span {
        &:after {
          transform: translateX(14px);
        }

        &:before {
          background: $turquoise;
          border-color: $turquoise;
        }
      }
    }
  }
}

.checkbox-wrapper.tick {
  height: 20px;
  margin-top: 10px;

  input {
    & + span {
      &:before {
        width: 14px;
        background-image: url("../media/icons/tick.svg");
      }
    }

    &:checked {
      & + span {
        &:before {
          background-image: url("../media/icons/tick-checked.svg");
        }
      }
    }
  }
}